@import "../Theme.scss";

.ChannelHeading {
    display: flex;
    align-items: center;
    padding: $spacing-sm 0;

    .ChannelHeading__Content {
        width: 100%;

        line-height: 1;
        text-align: center;
    }
}
