@import "../Theme.scss";

.WordEntry {
    display: flex;
    justify-content: space-between;
}

.WordEntryInfo {
    .WordEntryInfo__Counts {
        padding-right: $spacing-m;

        font-weight: bold;
    }

    .WordEntryInfo__Word {
        font-family: "monospace";
    }
}
