@import "../Theme.scss";

.WordInput {
    margin: 0;
    padding: $spacing-xsm $spacing-sm;
}

.WordInputField {
    display: flex;
    padding: $spacing-xsm 0 $spacing-xsm $spacing-sm;

    @include border-default();

    .WordInputField__Input {
        margin: 0;

        border: none;
        outline: none;
        font-family: "monospace";
    }
}
