// Palette
$black: #000000;
$white: #ffffff;
$light-gray: #f0f0f0;
$gray: #aaaaaa;
$dark-gray: #202020;
$blue: hsl(217, 71%, 53%);

// Spacing
$spacing-xsm: 0.125rem;
$spacing-sm: 0.25rem;
$spacing-m: 0.5rem;

// Font
$font-family: "Arial";
$font-size-sm: 11pt;

$border-radius-xsm: 0.15rem;
$border-radius-sm: 0.3rem;

@mixin border-default() {
    border: 1px solid $gray;
    border-radius: $border-radius-xsm;
}

@mixin transition-default($what: all, $time: 0.15s, $how: ease-in-out) {
    transition: $what $time $how;
}
