@import "../Theme.scss";

.Button {
    cursor: pointer;
    outline: none;
    background: none;
    color: $gray;
    @include border-default();
    @include transition-default();

    &:hover {
        color: $dark-gray;
    }

    &.Button--Borderless {
        border: none;
    }
}
