@import "../Theme.scss";

.ListGroup {
    .ListGroup__Item {
        &:nth-child(odd) {
            background-color: $light-gray;
        }

        padding: $spacing-xsm $spacing-sm;
    }
}

ul.ListGroup {
    margin: 0;
    padding: 0;
}
