@import "../Theme.scss";

.Tag {
    display: inline-block;

    border-radius: $border-radius-sm;
    background-color: $blue;
    color: $white;
    font-weight: bold;

    .Tag__Content {
        display: inline-block;
        padding: $spacing-sm;

        line-height: 1;
    }
}
